build/
.gradle/
gradle/
.metadata/
*.DS_Store
*.classpath
*.project
.settings/
/bin
.idea
.idea/*

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
