Package: libnative-platform-jni
Source: libnative-platform-java
Version: 0.3~rc2-2
Architecture: amd64
Maintainer: Debian Java Maintainers <pkg-java-maintainers@lists.alioth.debian.org>
Installed-Size: 62
Depends: libc6 (>= 2.4), libtinfo5
Section: java
Priority: optional
Homepage: https://github.com/adammurdoch/native-platform
Description: Java bindings for various native APIs - JNI library
 A collection of cross-platform Java APIs for various native APIs.
 Supports OS X, Linux, Solaris and Windows.
 .
 These APIs support Java 5 and later. Some of these APIs overlap with APIs
 available in later Java versions.
 .
 This package contains the java JNI library.
