Package: libnative-platform-java
Version: 0.3~rc2-2
Architecture: all
Maintainer: Debian Java Maintainers <pkg-java-maintainers@lists.alioth.debian.org>
Installed-Size: 104
Depends: libnative-platform-jni (>= 0.3~rc2-2)
Section: java
Priority: optional
Homepage: https://github.com/adammurdoch/native-platform
Description: Java bindings for various native APIs
 A collection of cross-platform Java APIs for various native APIs.
 Supports OS X, Linux, Solaris and Windows.
 .
 These APIs support Java 5 and later. Some of these APIs overlap with APIs
 available in later Java versions.
