<component name="libraryTable">
  <library name="spring-boot-1.0.0.BUILD-SNAPSHOT">
    <CLASSES />
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/modules-2/files-2.1/org.springframework.boot/spring-boot/1.0.0.BUILD-SNAPSHOT/5c2079ecefc09476e6d58b6d7269df91d0fc8bfa/spring-boot-1.0.0.BUILD-SNAPSHOT-sources.jar!/" />
    </SOURCES>
  </library>
</component>