<component name="libraryTable">
  <library name="spring-boot-starter-tomcat-1.0.0.BUILD-SNAPSHOT">
    <CLASSES />
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/modules-2/files-2.1/org.springframework.boot/spring-boot-starter-tomcat/1.0.0.BUILD-SNAPSHOT/7c825a5b3ddc8b584bdcae4406e00c3625b68769/spring-boot-starter-tomcat-1.0.0.BUILD-SNAPSHOT-sources.jar!/" />
    </SOURCES>
  </library>
</component>