<component name="libraryTable">
  <library name="spring-boot-starter-web-1.0.0.BUILD-SNAPSHOT">
    <CLASSES />
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/modules-2/files-2.1/org.springframework.boot/spring-boot-starter-web/1.0.0.BUILD-SNAPSHOT/ce348b5d9104011d17f2b884951f314a7d2092e4/spring-boot-starter-web-1.0.0.BUILD-SNAPSHOT-sources.jar!/" />
    </SOURCES>
  </library>
</component>