<component name="libraryTable">
  <library name="spring-boot-starter-1.0.0.BUILD-SNAPSHOT">
    <CLASSES />
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/modules-2/files-2.1/org.springframework.boot/spring-boot-starter/1.0.0.BUILD-SNAPSHOT/340c636491f9d1436b0269127c338d4b3ad1a94c/spring-boot-starter-1.0.0.BUILD-SNAPSHOT-sources.jar!/" />
    </SOURCES>
  </library>
</component>