<component name="libraryTable">
  <library name="spring-boot-autoconfigure-1.0.0.BUILD-SNAPSHOT">
    <CLASSES />
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/modules-2/files-2.1/org.springframework.boot/spring-boot-autoconfigure/1.0.0.BUILD-SNAPSHOT/e1585e408f578ec7d50e17ba1a6d389417c74d5c/spring-boot-autoconfigure-1.0.0.BUILD-SNAPSHOT-sources.jar!/" />
    </SOURCES>
  </library>
</component>