<div class="container">
    <div>
        <br>
        <h1>What is this?</h1>
        <br>
        <p class="lead">It's a tool to more easily and efficiently plan your class schedule. We've created a better interface to the class catalog, with flexible filtering, sorting, and intuitive planning. Once you've planned your semester, we'll save it for you.
        </p>
        <p class="lead">On your registration date, return here and login, and you'll be able to add your entire courseload with the click of a single button. We hope this helps you get into all your classes without scrambling through the catalog last-minute.</p>
    </div>
    <br><br>
    <div>
        <h1>Disclaimer</h1>
        <br>
        <p class="lead">This website is not hosted by BYU nor do we guarantee your admittance to all courses. Please make sure your BYU account is in good standing before attempting to register through our site. Be mindful of any reasons you may not be admitted to a course, including:</p>
        <ul class="lead">
            <li>The class is full (you'll be added to the waitlist and notified)</li>
            <li>You have a hold on your account (issues with ecclesiastical endorsement, overdue financial charge, poor academic standing, etc.)</li>
            <li>You haven't completed a prerequisite for a class</li>
            <li>The class is available to majors only, and you are not a major</li>
            <li>You need to use a permission-to-add code (sorry, we don't handle those yet)</li>
        </ul>
        <p class="lead">If you don't make it into one or more of your classes, you should see the error message given by BYU upon registration. You'll need to get your issue fixed before trying again. Please make sure to verify that your schedule is correct on the BYU site  </p>
    </div>
    <br><br>
    <div>
        <h1>Why do I have to come back after I plan my courses? Why can't you just automatically register me for my classes on my registration date?</h1>
        <br>
        <p class="lead">As much as we wish we could automatically register you, we just can't. BYU's server requires you to pass through a CAPTCHA, where you type the characters in an image to prove you're not a robot. You'll need to be present at your computer to do that.</p>
    </div>
    <br><br>
    <div>
        <h1>Is this safe? Is BYU ok with this?</h1>
        <br>
        <p class="lead">We are in the process of working with BYU administration to create an official solution to registration. While this website is not the official solution, no part of this service is harmful to the BYU's original registration system. We don't look at or store your BYU credentials, we don't give unfair advantage to registering students, nor do we overload BYU's servers with constant programmatic queries.</p>
    </div>
    <br><br>
    <div>
        <h1>Who are you?</h1>
        <br>
        <p class="lead">We are a team of BYU computer science students looking to make life a little less stressful around registration time.</p>
        <p class="lead">Contact us at <a href="mailto:support@registerbyu.com">support@registerbyu.com</a>.</p>
    </div>


</div><!-- /.container -->
