<div class="container">
    <h1>So why would I want to donate?</h1>
    <br>
    <br>
    <p class="lead"><strong>Short answer: </strong>Hosting a website is not free</p>
    <p class="lead"><strong>Long answer: </strong>This website was created by BYU students who have now graduated. Its purpose was simply to 
        improve how students register for classes -- we've never considered making it a for-profit thing. Once every year a BYU class picks up the project
        and adds some features to it, but the actual cost of hosting the website has fallen on one of the original creators. And that benevolent
        BYU grad would like some help covering the hosting costs. If you're a nerdy/techy person and/or aren't intimidated by
        some acronyms and proper nouns, what we're paying for is an AWS EC2 instance which we use as both a web server
        and a mongodb database. If you'd like more details beyond that, shoot us an email at support@registerbyu.com.
    </p>
    <br>
    <div style="text-align: center">
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="JFZLSLVRDKS2Y">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
    </div>
</div>
