<div class="header">

    <div class="header jumbotron">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>No-nonsense class registration at BYU.</h1>
                <h1>Finally.</h1>
                <br>
                <h2>Plan your classes & register with a single click.</h2>
                <h2>It's fast. It's fluid. It's the course catalog like you've never seen before.</h2>
                <br>
                <a href="index.html#/plan" class="btn btn-lg btn-primary">Get Started&nbsp;&nbsp;<span class="glyphicon glyphicon-play"></span></a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-6 text-center">
            <h2><span class="glyphicon glyphicon-sort-by-attributes"></span>&nbsp;&nbsp;Browse</h2>
            <p class="lead">Use flexible searching & sorting to find info you need faster than ever.</p>
        </div>
        <div class="col-md-3 col-sm-6 text-center">
            <h2><span class="glyphicon glyphicon-calendar"></span>&nbsp;&nbsp;Plan</h2>
            <p class="lead">Plan your schedule with a dynamic weekly calendar view.</p>
        </div>
        <div class="col-md-3 col-sm-6 text-center">
            <h2><span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;&nbsp;Save</h2>
            <p class="lead">Save your plan by creating a simple username and password.</p>
        </div>
        <div class="col-md-3 col-sm-6 text-center">
            <h2><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;Register</h2>
            <p class="lead">Streamline your registration process by registering all at once through BYU.</p>
        </div>
    </div>
</div>