<div class="container plan-container main-content" ng-controller="CourseListCtrl">

    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <form class="form-inline" role="form">
                    <div class="col-md-4">
                        <select id="filterByDepartment" class="form-control" ng-model="filteredDept" ng-change="filterOptions.searchQuery = ''">
                            <option value="">All</option>
                            <option ng-repeat="dept in departments.sort()" value="{{dept}}">{{dept}}</option>
                        </select>
                    </div>
                    <div class="col-md-8">
                        <input id="filterByDescriptionQuery" class="form-control" ng-model="searchText" placeholder="Search">
                    </div>
                </form>
            </div>
            <!-- example of a course level filter, it's not very good though -->
            <!-- <div class="row" id="courseLevelFilter">
                <form class="form-inline" role="form">
                    <div class="col-md-12">
                        <small>Course Levels:&nbsp;&nbsp;</small>
                        <span ng-repeat="level in courseLevels">
                            <label class="checkbox checkbox-inline" for="{{level}}">
                                <input type="checkbox" ng-model="filterOptions.levels[level]" name="group" id="{{level}}"> {{ level }}
                            </label>
                        </span>
                    </div>
                </form>
            </div> -->

            <br>
            <div id="course-table-container">
                <span ng-show="isLoadingCourses"><img src="../img/spinner.gif" width="20"> Loading course data</span>
                <table ng-show="!isLoadingCourses" id="coursesTable" class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th class="sortable-header" ng-class="sortedClass('dept.shortCode')" ng-click="updateSort('dept.shortCode')">Dept</th>
                        <th class="sortable-header" ng-class="sortedClass('courseId')" ng-click="updateSort('courseId')">ID</th>
                        <th class="sortable-header" ng-class="sortedClass('title')" ng-click="updateSort('title')">Name</th>
                    </tr>
                    </thead>
                    <tbody class="selectable-tbody" ng-click="$parent.selectedCourse = course" ng-class="course == selectedCourse ? 'selected-tbody' : ''" ng-repeat="course in filtered = (courses | filter:allFilter | filter:searchQueryFilter | filter:courseLevelFilter | filter:departmentFilter | orderBy:sortBy:desc)">
                    <tr>
                        <td class="selectable-td">{{ course.dept.shortCode }}</td>
                        <td class="selectable-td">{{ course.courseId }}</td>
                        <td class="selectable-td">{{ course.title }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="col-md-5">
            <div class="well">
                <h4 ng-show="!selectedCourse">&larr; Start typing a course name or choose a department from the dropdown.</h4>
                <div ng-show="selectedCourse">
                    <h3 class="text-center"><span class="glyphicon glyphicon-list-alt"></span>
                        {{ selectedCourse.dept.shortCode + " " + selectedCourse.courseId}}
                    </h3>
                    <h5>{{ selectedCourse.title }}</h5>
                    <p>{{ selectedCourse.description }}</p>
                    <p>Credit hours: {{ selectedCourse.credits }}</p>
                    <div>
                        <table class="table table-condensed">
                            <thead>
                            <tr>
                                <th>Sec</th>
                                <th>Instructor</th>
                                <th>Class Periods</th>
                                <th>Location</th>
                                <th>Seats Avail</th>
                                <th>WL</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody ng-show="!selectedCourse.sections || !selectedCourse.sections.length">
                            <tr>
                                <td colspan="4">No sections offered this semester!</td>
                            </tr>
                            </tbody>
                            <tbody class="selectable-special" ng-repeat="section in selectedCourse.sections" ng-mouseenter="showTempEvent(selectedCourse, section)" ng-mouseleave="hideTempEvent(selectedCourse, section)">
                            <tr class="selectable-td">
                                <td>{{ section.sectionId }}</td>
                                <td>{{ section.professor }}</td>
                                <td>
                                    {{ classPeriodsToString(section.classPeriods) }}
                                </td>
                                <td>{{section.room}} {{ section.buildingAbbreviation }}</td>
                                <td>{{section.classSize - section.registeredStudents.length}} / {{section.classSize}}</td>
                                <td>{{section.waitlistCount}}</td>
                                <td ng-show="!isPlanned(selectedCourse.dept.shortCode + ' ' + selectedCourse.courseId + '-' + section.sectionId)">
                                    <a ng-click="addCourseToPlan(selectedCourse, section)" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-plus"></span></a>
                                </td>
                                <td ng-show="isPlanned(selectedCourse.dept.shortCode + ' ' + selectedCourse.courseId + '-' + section.sectionId)">
                                    <div style="height: 22px;"><span class="glyphicon glyphicon-ok btn-xs"></span></div>
                                <td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="well">
                <h3 class="text-center">My Planned Classes</h3>
                <!--<h5>{{currentSemester}}</h5>-->
                <p ng-show="!plannedCourses.length">Add some classes you want to take next semester!</p>
                <table class="table table-condensed">
                    <thead>
                    <tr ng-show="plannedCourses.length">
                            <th>Course</th>
                            <th>Instructor</th>
                            <th>Class Periods</th>
                            <th>Hrs</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody class="selectable-tbody" ng-click="updateSelectedCourse(course.dept.shortCode, course.courseId)" ng-class="course.courseId == selectedCourse.courseId && course.dept.shortCode == selectedCourse.dept.shortCode ? 'selected-tbody' : ''" ng-repeat="course in plannedCourses">
                        <tr class="selectable-td" id="plannedCourse-{{$index}}">
                            <td>{{ course.dept.shortCode }} {{ course.courseId }}</td>
                            <td>{{ course.instructor }}</td>
                            <td>{{ classPeriodsToString(course.classPeriods) }}</td>
                            <td>{{ course.credits }}</td>
                            <td><a ng-click="removeCourseFromPlan(course)" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-minus"></span></a></td>
                        </tr>
                        </tbody>
                        <!--<tr ng-show="plannedCourses.length">-->
                            <!--<td></td>-->
                            <!--<td></td>-->
                            <!--<td><span class="pull-right"><b>Total Hrs:</b></span></td>-->
                            <!--<td><b>{{ sumPlannedCredits }}</b></td>-->
                            <!--<td></td>-->
                        <!--</tr>-->
                    </table>
                </div>
                <div id="register-buttons" class="pull-right">
                    <button ng-show="plannedCourses.length" ng-click="registerClasses()" class="btn btn-xs btn-primary" ng-class="{ disabled: added }" data-toggle="modal" data-target="#registrationIframeModal">
                        <span ng-show="!added"><span class="glyphicon glyphicon-ok"></span>  Register All Courses</span>
                        <span ng-show="added"><span class="glyphicon glyphicon-thumbs-up"></span>  Courses Registered!</span>
                    </button>
                    <button ng-show="plannedCourses.length" ng-click="savePlan()" class="btn btn-xs btn-primary" ng-class="{ disabled: saved }">
                        <span ng-show="!saved"><span class="glyphicon glyphicon-save"></span>  Save Plan</span>
                        <span ng-show="saved"><span class="glyphicon glyphicon-saved"></span>  Plan saved!</span>
                    </button>
                </div>
                <br><br>
            <div class="well">
                <!--<button ng-click="viewWeekLayout()" class="btn btn-primary" data-toggle="modal" data-target="#weekLayoutModal">-->
                <!--<span><span class="glyphicon glyphicon-calendar"></span>  View Details</span>-->
                <!--</button>-->
                <div ng-controller="CalendarCtrl">
                    <div id="calendar" class="calendar" ng-model="eventSources" config="uiConfig.calendar" ui-calendar="uiConfig.calendar"></div>
                </div>
            </div>
        </div>

    </div>

</div>


<div class="modal fade" id="registrationIframeModal">
    <div class="modal-dialog" style="width:550px; height:550px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">BYU Registration</h4>
            </div>
            <div class="modal-body">
                <iframe id="registration-iframe"  width="510" height="375" style="display:none;overflow: hidden" scrolling="no" frameBorder="0"></iframe><br>
                <div class="well" id="registration-instructions">
                    <h3 style="margin-top:0;">Say Hello to Batch Registration</h3>
                    <div>We'll help you register for <b><i>all of your classes at once</i></b> in three simple steps:</div>
                    <ol>
                        <li><h4>Login To BYU</h4>Don't worry, we don't store your username and password.</li>
                        <li><h4>Prove you are not a robot</h4>BYU requires that you verify your divine nature once every thirty minutes.</li>
                        <li><h4>Let us do the rest</h4>We'll show you if each of your planned classes was registered to your BYU account.</li>
                    </ol>
                    <div>Before you proceed, please make sure your BYU account's registration date is here. (If it's still in the future, no worries &ndash; just close this box and click "Save Plan" instead.)</div>
                    <br>
                    <div><input type="checkbox" ng-model="proceedRegistration"> My BYU account is good to go.</div>
                    <br>
                    <button class="btn btn-primary" ng-class="{disabled: !proceedRegistration}" onclick="$('#registration-iframe').show();$('#registration-instructions').hide()">Let's get started</button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div ng-controller="RootScopeCtrl" class="modal fade" id="loginModal">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Sign in or create a new account to save your plan.</h3>
            </div>

            <div class="modal-body">

                <ul class="nav nav-tabs" id="tabContent">
                    <li ng-class="{active: $rootScope.signinTab}" ng-click="$rootScope.signinTab = true; $rootScope.createTab = false; $rootScope.signinAlerts.length = 0;">
                        <a class="linky">Sign in</a>
                    </li>
                    <li ng-class="{active: $rootScope.createTab}" ng-click="$rootScope.signinTab = false; $rootScope.createTab = true; $rootScope.signinAlerts.length = 0;">
                        <a class="linky">Create account</a>
                    </li>
                </ul>
                <br>
                <div class="tab-content">

                    <!-- alerts for invalid form entry-->
                    <div class="alert alert-info alert-dismissable" ng-repeat="alert in $rootScope.signinAlerts" type="alert.type">
                        <button type="button" ng-click="$rootScope.closeAlert($index)" class="close" data-dismiss="alert" area-hidden="true">&times;</button>
                        {{alert.msg}}
                    </div>

                    <div ng-class="{active: $rootScope.signinTab}" class="tab-pane" id="signin">
                        <form role="form" autocomplete="off">
                            <div class="form-group">
                                <label for="loginUsername">Username</label>
                                <input ng-model="$rootScope.loginUsername" type="text" maxlength="20" class="form-control" id="loginUsername" placeholder="Enter username">
                            </div>
                            <div class="form-group">
                                <label for="loginPassword">Password</label>
                                <input ng-model="$rootScope.loginPassword" type="password" maxlength="35" class="form-control" id="loginPassword" placeholder="Password">
                            </div>
                            <hr>
                            <button type="submit" ng-click="$rootScope.signInUser()" class="btn btn-primary">Sign in</button>
                            <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </form>
                    </div>
                    <div ng-class="{active: $rootScope.createTab}" class="tab-pane" id="createaccount">

                        <form role="form" autocomplete="off">
                            <div class="form-group">
                                <label for="createUsername">Username</label>
                                <input ng-model="$rootScope.createUsername" type="text" maxlength="20" class="form-control" id="createUsername" placeholder="Create a username">
                            </div>
                            <div class="form-group">
                                <label for="createPassword">Password</label>
                                <input ng-model="$rootScope.createPassword" type="password" maxlength="35" class="form-control" id="createPassword" placeholder="Create a password">
                            </div>
                            <div class="form-group">
                                <label for="createPassword2">Confirm Password</label>
                                <input ng-model="$rootScope.createPassword2" type="password" maxlength="35" class="form-control" id="createPassword2" placeholder="Confirm password">
                            </div>
                            <hr>
                            <button type="submit" ng-click="$rootScope.createUserAccount()" class="btn btn-primary">Create Account</button>
                            <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--Overlay for when courses are loading-->
<div id="loading-overlay" class="container" ng-controller="CourseListCtrl">
<!--ng-show="isLoadingCourses" -->
    <div class="row">
        <div class="col-md-3 text-center overlay-el pad-sides-sm">
            <h1 class="giant">1</h1>
            <br>
            <p class="lead">Browse courses here.</p>
            <p class="lead">Type a course name &ndash; like 'BIO100' &ndash; in the search bar to instantly filter.</p>
            <p>(We'll start by showing you a list of the most popular courses.)</p>
        </div>
        <div class="col-md-5 text-center overlay-el pad-sides-lg">
            <h1 class="giant">2</h1>
            <br>
            <p class="lead">Add the sections you want here.</p>
            <p class="lead">Remember, you can add more than one course at a time. Plan out your whole semester!</p>
            <p>(Hover over a section to see how it'll fit into your weekly schedule.)</p>
            <br><br><br>
            <div ng-show="isLoadingCourses">
                <img src="../img/darkspinner.gif"><br>
                <h2>Hold tight while we load the course catalog...</h2>
            </div>
            <div ng-show="!isLoadingCourses" class="animate-show">
                <h2>Ready to go?</h2>
                <br>
                <button class="btn btn-lg btn-primary" ng-click="dismissLoadingOverlay()">OK</button>
            </div>
        </div>
        <div class="col-md-4 text-center overlay-el pad-sides-md">
            <h1 class="giant">3</h1>
            <br>
            <p class="lead">View and save your plan here.</p>
            <p class="lead">When you're all done, you can save (or register) your plan.</p>
            <p>(Once your plan is saved, you're ready to go for registration day.)</p>
        </div>
    </div>
</div>